{#
/**
 * @file
 * Template for VLSuite block headings menu nav.
 */
#}
<h2 {{ title_attributes }}>{{ title_start_icon|striptags('<svg><rect><path>')|raw }}{{ title }}{{ title_end_icon|striptags('<svg><rect><path>')|raw }}</h2>
{{ tree_build }}
