:root {
  --vlsuite-block-default-margin-top: 1rem;
}

.vlsuite-layout__region:not(.row) > .vlsuite-block:not([class*="absolute"]) + .vlsuite-block:not([class*="absolute"]) {
  margin-top: var(--vlsuite-block-default-margin-top);
}

.vlsuite-block .field ul,
.vlsuite-block .field ol,
.vlsuite-block .field p {
  margin-bottom: 0;
  margin-top: 0;
}

.vlsuite-block .field p + ul,
.vlsuite-block .field p + ol,
.vlsuite-block .field ul + p,
.vlsuite-block .field ol + p,
.vlsuite-block .field p + p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.vlsuite-block .field a:not([class]) {
  color: inherit;
}

.media--view-mode-default.media--type-vlsuite-local-video .field,
.media--view-mode-default.media--type-vlsuite-remote-video .field {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.media--view-mode-default.media--type-vlsuite-local-video .field video,
.media--view-mode-default.media--type-vlsuite-remote-video .field iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.vlsuite-block .media--view-mode-default.media--type-vlsuite-image,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-local-video,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-remote-video {
  height: 100%;
}*/
/*
.vlsuite-block .media--view-mode-default.media--type-vlsuite-image .field,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-image .field .field__item,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-image .field .field__item img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.vlsuite-block .media--view-mode-default.media--type-vlsuite-local-video .field,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-remote-video .field {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
}

.vlsuite-block .media--view-mode-default.media--type-vlsuite-local-video .field video,
.vlsuite-block .media--view-mode-default.media--type-vlsuite-remote-video .field iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
