name: '{{ name }}'
type: module
description: '{{ description }}'
package: {{ package }}
core_version_requirement: ^10.3 || ^11
{% if dependencies %}
dependencies:
  {% for dependency in dependencies %}
  - {{ dependency }}
  {% endfor %}
{% endif %}
